        /* --GENERAL (MobileFirst)-- */
section#Temoignages .box {
    position: relative;
    width: 300px;
    display: inline-block;
    margin: 0 30px;
}
section#Temoignages .box {
    /* modifiable for responsivity */
    height: 320px;
}
section#Temoignages .box:first-of-type {
    margin-left: 0;
}
section#Temoignages .box:last-of-type {
    margin-right: 0;
}
section#Temoignages .temoignages-container {
    padding: 0 20px 25px;
    /* position: absolute; */
}
section#Temoignages .box > h5 {
    font-weight: bold;
}
section#Temoignages .box > p.stars {
    padding: 5px 0 10px;
}
section#Temoignages .box > p.name {
    position: absolute;
    bottom: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 50%);
}
section#Temoignages .box > p , section#Temoignages .box > h5{
    /* modifiable for responsivity */
    font-size: 14px;
}

        /* --RESPONSIVITY */


/* Tablet */
@media all and (min-width: 769px) {
    section#Temoignages .box {
        height: 370px;
    }
    section#Temoignages .box > p , section#Temoignages .box > h5{
        font-size: 16px;
    }
}
/* Tablet */
@media all and (min-width: 1024px) {
    section#Temoignages .box {
        height: 450px;
    }
    section#Temoignages .box > p , section#Temoignages .box > h5{
        font-size: 20px;
    }
}