        /* GENERAL */
section#Accueil span#logoKoti {
    display: inline-block;
    background: no-repeat center / cover  url(./../../Assets/Logos/Koti.png);
    margin-left: 5px;
}

section#Accueil span#logoKota {
    display: inline-block;
    background: no-repeat center / cover  url(./../../Assets/Logos/Kota.png);
}

section#Accueil > p.bienvenue {
    color: #F5F4F5;
}

section#Accueil > p.presentation {
    color: #F5F4F5;
    font-weight: 900;
}

section#Accueil > p.description {
    color: #F5F4F5;
}

.orange-bold {
    color: #EE7061;
    font-weight: bold;
}

section#Accueil a[href='#Services'] {
    color: #16243D;
    background: #F5F4F5;
    border: none;
}

section#Accueil a[href='#Contact'] {
    color: #F5F4F5;
    border: none;
    background-image: linear-gradient(to right, white -400%, #EE7061 100%);
}

section#Accueil a.button {
    border-radius: 20px;
}

        /* --RESPONSIVE */
/* Mobile */
@media all and (max-width: 768px) {
    #Accueil {
        margin-top: 60px;
        padding: 70px 18px;
    }
    section#Accueil > p.bienvenue {
        font-size: 14px;
    }
    section#Accueil span#logoKoti {
        width: 87.5px;
        height: 22px;
    }
    section#Accueil span#logoKota {
        width: 87.5px;
        height: 22px;
    }
    section#Accueil > p.presentation {
        margin: 26px 0;
        font-size: 20px;
    }
    section#Accueil > p.description {
        font-size: 14px;
    }
    section#Accueil > .buttons {
        flex-direction: column;
        margin: 70px 0 0;
    }
    section#Accueil a[href='#Services'] {
        margin-bottom: 10px;
    }
    section#Accueil > .buttons > a.button {
        width: 100%;
        font-size: 14px;
    }

}

/* Tablet-only */
@media all and (min-width: 769px) and (max-width: 1023px) {
    section#Accueil {
        padding: 105px 90px 185px;
    }

    section#Accueil > p.bienvenue {
        font-size: 16px;
    }
    section#Accueil span#logoKoti {
        width: 117px;
        height: 30px;
    }
    section#Accueil span#logoKota {
        width: 117px;
        height: 30px;
    }
    section#Accueil > p.presentation {
        font-size: 30px;
    }
    section#Accueil > p.description {
        font-size: 16px;
    }
    section#Accueil > .buttons > a.button {
        font-size: 16px;
    }

}

/* Tablet++ */
@media all and (min-width: 769px) {
    #Accueil {
        margin-top: 90px;
    }
    section#Accueil > p.presentation {
        margin: 50px 0 77px;
    }
    section#Accueil > .buttons {
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        margin: 77px 0 0;
    }
    section#Accueil > .buttons > a.button {
        width: 270px;
        height: 60px;
    }
}

/* Desktop++ */
@media all and (min-width: 1024px) {
    section#Accueil {
        padding: 105px 192px 185px;
    }
    section#Accueil > p.bienvenue {
        font-size: 24px;
    }
    section#Accueil > p.presentation {
        font-size: 48px;
    }
    section#Accueil > p.description {
        font-size: 20px;
    }
    section#Accueil span#logoKoti {
        width: 175px;
        height: 44px;
    }
    section#Accueil span#logoKota {
        width: 175px;
        height: 44px;
    }
    section#Accueil a.button {
        font-size: 20px;
    }

}