        /* --GENERAL (Mobile First) */

section#Temoignages {
    background-color: #F5F4F5;
    overflow: hidden;
    width: 100%;
    position: relative;
}
.temoignages-wrapper {
    overflow: hidden; /* masque le dépassement */
    width: 100%;
  }
section#Temoignages {
    /* modifiable for responsivity */
    padding: 70px 0px;
}
section#Temoignages .temoignages-container {
    display: flex;
    flex-direction: row;
    transition: margin-left 0.5s ease;
}
p.decouvrez-temoignages {
    text-align: center;
    margin-left: 18px;
    margin-right: 18px;
}
p.decouvrez-temoignages {
    /* modifiable for responsivity */
    font-size: 20px;
    margin-bottom: 65px;
}
section#Temoignages > .buttons {
    justify-content: center;
}
section#Temoignages > .buttons {
    /* modifiable for responsivity */
    margin-top: 40px;
}
section#Temoignages > .buttons > button {
    border-radius: 50%;
}

        /* --RESPONSIVE-- */
    
/* Mobile */
@media all and (min-width: 769px) {
    section#Temoignages {
        padding: 165px 0px;
    }
    p.decouvrez-temoignages {
        font-size: 30px;
        margin-bottom: 115px;
    }
    section#Temoignages > .buttons {
        margin-top: 60px;
    }
}
/* Desktop */
@media all and (min-width: 1024px) {
    p.decouvrez-temoignages {
        font-size: 45px;
    }
}