        /* --GENERAL (Mobile Firt)-- */
footer {
    background-color: rgba(22, 36, 61, 70%);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    /* modifiable for responsivity */
    height: 250px;
}
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-content {
    /* modifiable for responsivity */
    gap: 20px;
}
footer a {
    color: #F5F4F5;
    font-weight: bold;
}
footer a {
    /* modifiable for responsivity */
    font-size: 11px;
}
footer .link {
    display: flex;
}
footer .link {
    /* modifiable for responsivity */
    flex-direction: column;
}
footer .link2 {
    /* modifiable for responsivity */
    align-items: end;
}
footer .image-container {
    border: 3px solid #F5F4F5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .image-container {
    /* modifiable for responsivity */
    width: 40px;
    height: 40px;
}
footer .image-container > img {
    /* modifiable for responsivity */
    width: 20px;
    height: 20px;
}
footer .figure {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
footer .line {
    width: 30px;
    height: 18px;
    border-top: 3px solid #F5F4F5;
    border-bottom: 3px solid #F5F4F5;
}
footer .dropdown-content {
    width: 9rem;
    background: #F5F4F5;
    transform: translateX(-68%);
}
footer .dropdown-content {
    background: #F5F4F5;
}
footer .dropdown-content {
    /* modifiable for responsivity */
    width: 9rem;
    transform: translateX(-68%);
    position: absolute;
}
footer .dropdown-content > a {
    color: #16243D;
}
footer .dropdown-content > a {
    /* modifiable for responsivity */
    margin: 0 5px;
}

        /* --RESPONSIVE-- */
/* Tablet */
@media all and (min-width: 769px) {
    footer {
        height: 271px;
    }
    .footer-content {
        gap: 5px;
    }
    footer a {
        font-size: 16px;
        margin: 0 10px;
    }
    footer .link {
        gap: 0px;
        flex-direction: row;
        padding: 15px 0;
        border-top: 3px solid #F5F4F5;
        border-bottom: 3px solid #F5F4F5;
    }
    footer .link2 {
        align-items: center;
    }
    footer .image-container {
        width: 111px;
        height:111px;
    }
    footer .image-container > img {
        width: 56px;
        height: 56px;
    }
    footer .line {
        display: none;
    }
    footer .dropdown-content {
        /* modifiable for responsivity */
        width: 13rem;
        transform: translateX(-57%);
    }
}

/* Desktop */
@media all and (min-width: 1024px) {
    footer a {
        font-size: 20px;
        margin: 0 20px;
    }
    footer .dropdown-content {
        width: 16rem;
        transform: translateX(-50%);
    }
    footer .dropdown-content > a {
        margin: 0 16px;
    }
}